<nb-card-header>
        <i class="ion-social-usd"></i>
        <span class="title">Savings/Credit Cards</span>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <label>Savings</label>
          </div>
          <div class="col-md-6">
            <label class="right">{{data.Savings | currency}}</label>
          </div>
        </div>
        <div class="row divider"></div>
        <div class="row">
          <div class="col-md-6">
            <label>Credit Cards</label>
          </div>
          <div class="col-md-6">
            <div class="delta right" [class.up]="(data?.Savings > data?.CreditCards)" [class.down]="!(data?.Savings > data?.CreditCards)">
                <nb-icon [icon]="(data?.Savings > data?.CreditCards) ? 'arrow-upward-outline' : 'arrow-downward-outline'" pack="eva" class="direction"></nb-icon>
            <label>{{data.CreditCards | currency}}</label>
          </div>
          </div>
        </div>
      </nb-card-body>