<nb-card-header>
    <i class="fa fa-rupee" [class.up]="_fundsCurrentValue?.Current?.CurrentValue > fundsCurrentValue?.Current?.Investment" [class.down]="_fundsCurrentValue?.Current?.CurrentValue < fundsCurrentValue?.Current?.Investment"></i>
        <a class="title" routerLink="/investment/india/mutual-funds" routerLinkActive="active">Funds (Current)</a>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <label>Investment</label>
          </div>
          <div class="col-md-6">
            <label class="right">
              <i class="fa fa-rupee"></i>
              {{_fundsCurrentValue?.Current?.Investment | number}}
            </label>
          </div>
        </div>
        <div class="row divider"></div>
        <div class="row">
          <div class="col-md-6">
            <label>Current Value</label>
          </div>
          <div class="col-md-6">
            <div class="delta right" [class.up]="_fundsCurrentValue?.Current?.CurrentValue > fundsCurrentValue?.Current?.Investment" [class.down]="_fundsCurrentValue?.Current?.CurrentValue < fundsCurrentValue?.Current?.Investment">
              <nb-icon [icon]="(_fundsCurrentValue?.Current?.CurrentValue > fundsCurrentValue?.Current?.Investment) ? 'arrow-upward-outline' : 'arrow-downward-outline'" pack="eva" class="direction"></nb-icon>
              
              <label class="">
                  <i class="fa fa-rupee"></i>
                {{_fundsCurrentValue?.Current?.CurrentValue | number}}
              </label>
          </div>
          </div>
        </div>
      </nb-card-body>