<div class="expenses-history-container">
    <nb-card size="large">
        <nb-card-header class="header">
            <div class="row">
                <div class="title left col-xl-8">Expenses (YTD)</div>
            </div>
        </nb-card-header>
        <nb-card-body class="body">
            <!-- <div class="summary-container row">
                <div class="col-md-3 element right-border">
                    <div class="">Income</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element right-border">
                    <div class="">Budget</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element right-border">
                    <div class="">Expenses</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element">
                    <div class="">Saving</div>
                    <div class="">$ 50,000.15</div>
                </div>
            </div> -->
            <div class="chart-container row">
                <app-expenses-chart></app-expenses-chart>
            </div>
        </nb-card-body>
    </nb-card>
</div>