@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .header {
    padding: .5rem 1.25rem;
    .title {
      color: red;
      .switch.checked { color: white !important; }
    }
    .value {
      display: flex;
      float: right;
      .separator {
        margin: 0rem 0.5rem;
        border-left: 1px solid gray;
      }
      .label {
        font-size: x-small;
        display: flex;
        justify-content: center;
      }
    }

    .delta {
      display: flex;
      align-items: center;
  
      &.down {
        color: nb-theme(color-danger-default);
      }
  
      &.up {
        color: nb-theme(color-success-default);
      }
    }
  }

  
  .expenses-history-container {
      .body {
          padding: 0;

          .summary-container {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            background-color: nb-theme(background-basic-color-2);
            justify-content: space-between;
            padding: 1rem;
            margin: 0rem;
            border: .1rem solid nb-theme(border-basic-color-3);
            border-left: none;
            border-right: none;

            .element{
                text-align: center;
            }
            .right-border {
                border-right: .1rem solid red;
            }
          }

          .chart-container.row {
            margin: 0rem;
            width: 100%;
            height: 100%;
            app-expenses-chart {
              width: 100%;
              height: 100%;
            }
          }
      }
  }
}
