<div class="expenses-history-container">
    <nb-card size="large">
        <nb-card-header class="header">
            <div class="row">
                <div class="title left col-xl-6">
                    <span>Expenses</span>
                    <!-- <ui-switch size="small" checkedlabel="YTD" uncheckedlabel="12M" [(ngModel)]="graphperiod" (change)="onSwitchChange($event)"></ui-switch> -->
                    <ui-switch size="small" checkedLabel="YTD" uncheckedLabel="12M" [(ngModel)]="graphperiod" (change)="onSwitchChange($event)"></ui-switch>
                </div>
                <div class="right col-xl-6">
                    <div class="values">
                        <div class="">
                            <span class="label"><a class="" routerLink="/usa/expenses" routerLinkActive="active">Expenses</a></span>
                            <div class="delta right value" [class.up]="(this.homeService.totalBudget) > this.homeService.totalExpenses" 
                                            [class.down]="this.homeService.totalExpenses > this.homeService.totalBudget">
                                <nb-icon [icon]="this.homeService.totalBudget > this.homeService.totalExpenses ? 'diagonal-arrow-right-down' : (this.homeService.totalBudget < this.homeService.totalExpenses) ? 'diagonal-arrow-right-up' : 'checkmark'" pack="eva" class="direction"></nb-icon>
                                {{(this.homeService.totalExpenses) | currency}}
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="">
                            <span class="label"><a class="" routerLink="/usa/budget" routerLinkActive="active">Budget</a></span>
                            <div class="value">{{this.homeService.totalBudget | currency}}</div>
                        </div>
                        <div class="separator"></div>
                        <div class="">
                            <span class="label">Balance</span>
                            <div class="value">{{ (this.homeService.totalBudget - this.homeService.totalExpenses) | currency}}</div>
                        </div>
                        <div class="separator"></div>
                        <div class="">
                            <span class="label"><a class="" routerLink="/usa/income" routerLinkActive="active">Income</a></span>
                            <div class="value income">{{this.homeService.totalIncome | currency}}</div>
                        </div>
                        
                    </div>
                  </div>
            </div>
        </nb-card-header>
        <nb-card-body class="body">
            <!-- <div class="summary-container row">
                <div class="col-md-3 element right-border">
                    <div class="">Income</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element right-border">
                    <div class="">Budget</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element right-border">
                    <div class="">Expenses</div>
                    <div class="">$ 50,000.15</div>
                </div>
                <div class="col-md-3 element">
                    <div class="">Saving</div>
                    <div class="">$ 50,000.15</div>
                </div>
            </div> -->
            <div class="chart-container row">
                <app-expenses-chart [type]="graphperiod"></app-expenses-chart>
            </div>
        </nb-card-body>
    </nb-card>
</div>
