@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {
    overflow: auto;
  
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .align-right {
        text-align: right;
      }

      > * {
        flex: 1;
      }
  
      &:first-child {
        border-top: none;
      }
    }
  
    .delta {
      display: flex;
      align-items: center;
  
      &.down {
        color: nb-theme(color-danger-default);
      }
  
      &.up {
        color: nb-theme(color-success-default);
      }
    }
  
    @include media-breakpoint-down(is) {
      ngx-traffic-bar {
        display: none;
      }
    }

    

    .exepnses-container {
      .header {
        // padding: 0.5rem;
        .row {
          margin: 0rem;
        }
        .title {
          color: red;
          // margin: 0rem .5rem;
          .switch.checked { color: white; }
        }
        .right {
          padding: 0rem 0.5rem;
          .value {
            display: flex;
            float: right;
            .separator {
              padding: 0rem 0.5rem;
            }
          }
        }
      }
      

      .body {
        padding: 0.5rem;
        nb-list-item {
          padding: 0.2rem 0rem;
      }
      .value {
        display: flex;
        float: right;
        .separator {
          padding: 0rem 0.2rem;
        }
        
      }
      }
    
  }
    
  }
