@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes.scss';

.switch.checked {
  background: lightgreen;
}

@include nb-install-component() {
    overflow: auto;
    .header {
      padding: .5rem 0.5rem;
    }
  
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .align-right {
        text-align: right;
      }

      > * {
        flex: 1;
      }
  
      &:first-child {
        border-top: none;
      }
    }
  
    .delta {
      display: flex;
      align-items: center;
  
      &.down {
        color: nb-theme(color-danger-default);
      }
  
      &.up {
        color: nb-theme(color-success-default);
      }
    }
  
    @include media-breakpoint-down(is) {
      ngx-traffic-bar {
        display: none;
      }
    }

    

    .exepnses-container {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1.25rem;
        .left-section {
          color: red;
          .switch.checked { color: white; }
        }
        .middle-section {
          .date, .action {
            padding: 0 .5rem;
          }
          .action {
            cursor: pointer;
          }
        }
        .right-section {
          // padding: 0rem 0.5rem;
          .values {
            display: flex;
            float: right;
            .separator {
              margin: 0rem 0.5rem;
              border-left: 1px solid gray;
            }
            .income {
              color: #6CE274;
            }
          }
        }
      }
      

      .body {
        padding: 0.5rem;
        nb-list-item {
          padding: 0.2rem 0rem;
      }
      .value {
        display: flex;
        float: right;
        .separator {
          padding: 0rem 0.2rem;
        }
        
      }
      }
    
  }
    
  }
