<div class="exepnses-container">
  <nb-card size="large">
    <nb-card-header class="header">
      <!-- <i class="ion-social-usd"></i> -->
      <!-- <div class="row"> -->
        <div class="left-section">
          <span>Expenses</span>
          <ui-switch size="small" checkedLabel="MTD" uncheckedLabel="YTD" [(ngModel)]="graphperiod"
            (change)="onSwitchChange($event)"></ui-switch>
        </div>
        <div class="middle-section">
          <span class="date">{{fromDate | date:'MM/dd/yy' }}</span>
          <span class="date">{{toDate | date:'MM/dd/yy' }}</span>
          <span class="action" title="previous period" (click)="loadExpenses('previous')"><</span>
          <span class="action" title="next period" (click)="loadExpenses('next')">></span>
        </div>
        <div class="right-section">
          <div class="values">
            <div class="">
              <span class="label">Expenses</span>
              <div class="delta right value"
                [class.up]="this.currentExpenses?.Summary?.Debit < this.currentExpenses?.Summary?.BudgetAmount "
                [class.down]="this.currentExpenses?.Summary?.Debit > this.currentExpenses?.Summary?.BudgetAmount">
                <nb-icon
                  [icon]="(this.currentExpenses?.Summary?.Debit > this.currentExpenses?.Summary?.BudgetAmount) ? 'diagonal-arrow-right-up' : (this.currentExpenses?.Summary?.Debit < this.currentExpenses?.Summary?.BudgetAmount) ? 'diagonal-arrow-right-down' : 'checkmark'"
                  pack="eva" class="direction"></nb-icon>
                {{(this.currentExpenses?.Summary?.Debit) | currency}}
              </div>
            </div>
            <div class="separator"></div>
            <div class="">
              <span class="label">Budget</span>
              <div class="value">{{this.currentExpenses?.Summary?.BudgetAmount | currency}}</div>
            </div>
            <div class="separator"></div>
            <div class="">
              <span class="label">Balance</span>
              <div class="value">{{(this.currentExpenses?.Summary?.Balance) | currency}}</div>
            </div>
            <div class="separator"></div>
            <div class="">
              <span class="label">Income</span>
              <div class="value income">{{this.currentExpenses?.Summary?.Credit | currency}}</div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </nb-card-header>
    <nb-card-body class="body">
      <div class="bar"></div>
      <nb-list>
        <nb-list-item class="item" *ngFor="let item of currentExpenses?.Expenses;">
          <div class="col-xl-3">{{ item.Group }}</div>
          <div class="col-xl-3">{{ item.SubGroup }}</div>
          <div class="col-xl-6">
            <div class="value">
              <div class="delta right" *ngIf="item.SubGroup == 'Income'"
                [class.up]="(item?.Credit - item?.Debit) > item?.BudgetAmount "
                [class.down]="(item?.Debit - item?.Credit) < item?.BudgetAmount">
                <nb-icon
                  [icon]="((item?.Credit - item?.Debit) > item?.BudgetAmount) ? 'diagonal-arrow-right-up' : ((item?.Credit - item?.Debit) < item?.BudgetAmount) ? 'diagonal-arrow-right-down' : 'checkmark'"
                  pack="eva" class="direction">
                </nb-icon>
                <label>{{ item?.Credit - item?.Debit | currency }}</label>
              </div>

              <div class="delta right" *ngIf="item.SubGroup != 'Income'"
                [class.up]="(item?.Debit - item?.Credit) < item?.BudgetAmount "
                [class.down]="(item?.Debit - item?.Credit) > item?.BudgetAmount">
                <nb-icon
                  [icon]="((item?.Debit - item?.Credit) > item?.BudgetAmount) ? 'diagonal-arrow-right-up' : ((item?.Debit - item?.Credit) < item?.BudgetAmount) ? 'diagonal-arrow-right-down' : 'checkmark'"
                  pack="eva" class="direction">
                </nb-icon>
                <label>{{ item?.Debit - item?.Credit | currency }}</label>
              </div>
              <div class="separator"> / </div>
              <div class="second-value">{{ item.BudgetAmount | currency }}</div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>