<div class="income-details">
    <div class="search-criteria ui-g ui-fluid">
        <div class="from-date ui-g-12 ui-md-4">
            <p-calendar [(ngModel)]="fromdate" view="month" dateFormat="mm/yy" 
                [yearNavigator]="true" yearRange="2014:2025" [readonlyInput]="true">
            </p-calendar>
        </div>
        <div class="to-date ui-g-12 ui-md-4">
            <p-calendar [(ngModel)]="todate" view="month" dateFormat="mm/yy" 
                [yearNavigator]="true" yearRange="2014:2025" [readonlyInput]="true">
            </p-calendar>
        </div>
        <div class="action ui-g-12 ui-md-4">

        </div>
    </div>
</div>
