<nb-card-header>
    <i class="fa fa-rupee" [class.up]="Profit > 0" [class.down]="Profit < 0"></i>
        <span class="title">Funds (All)</span>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <label>Investment</label>
          </div>
          <div class="col-md-6">
            <label class="right"><i class="fa fa-rupee"></i>{{Investment | number}}</label>
          </div>
        </div>
        <div class="row divider"></div>
        <div class="row">
          <div class="col-md-6">
            <label>Profit</label>
          </div>
          <div class="col-md-6">
            <div class="delta right" [class.up]="Profit > 0" [class.down]="Profit < 0">
              <nb-icon [icon]="(Profit > 0) ? 'arrow-upward-outline' : 'arrow-downward-outline'" pack="eva" class="direction"></nb-icon>
              <i class="fa fa-rupee"></i>
            <label class="">{{Profit | number}}</label>
          </div>
          </div>
        </div>
      </nb-card-body>
      