<div class="dashboard-container">
    <div class="row investments">
        <div class="col-xl-3 stocks">
            <app-stocks-card></app-stocks-card>
        </div>
        <div class="col-xl-3 digital-currency">
            <app-digital-currency-card></app-digital-currency-card>
        </div>
        <div class="col-xl-3 funds">
            <app-funds-card></app-funds-card>
        </div>
        <div class="col-xl-3 accounts">
            <app-accounts-card></app-accounts-card>
        </div>
    </div>
    <div class="row expenses">
        <div class="col-xl-4 expenses">
            <app-expenses-card></app-expenses-card>
        </div>
        <div class="col-xl-8 expenses">
            <app-expenses-history-card></app-expenses-history-card>
        </div>
    </div>
</div>