<nb-card-header>
  <i class="fa fa-btc" [class.up]="_currentValue?.Overall?.Profit > 0" [class.down]="_currentValue?.Overall?.Profit < 0"></i>
  <span class="title"><a class="" routerLink="/investment/usa/digital-currency" routerLinkActive="active">Digital Currency (All)</a></span>
</nb-card-header>
<nb-card-body>
  <div class="row">
    <div class="col-md-6">
      <label>Investment</label>
    </div>
    <div class="col-md-6">
      <label class="right">{{_currentValue?.Overall?.Investment  | currency }}</label>
    </div>
  </div>
  <div class="row divider"></div>
  <div class="row">
    <div class="col-md-6">
      <label>Profit</label>
    </div>
    <div class="col-md-6">
      <div class="delta right" [class.up]="_currentValue?.Overall?.Profit > 0"
        [class.down]="_currentValue?.Overall?.Profit < 0">
        <nb-icon [icon]="(_currentValue?.Overall?.Profit > 0) ? 'arrow-upward-outline' : 'arrow-downward-outline'"
          pack="eva" class="direction"></nb-icon>
        <label>{{_currentValue?.Overall?.Profit | currency}}</label>
      </div>
    </div>
  </div>
</nb-card-body>